body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(158, 153, 153);
}
.container #smartphone{
    margin-top: 150px;
}
.container #laptop{
    margin-top: 150px;
}
.container #categories{
    margin-top: 150px;
}
body h1{
    color: black;
    font-weight: bold;
}
h3{
    color: black;
    font-weight: bold;
}
h4{
    color: black;
    font-weight: bold;
}
.logo{
    padding: 20px 0px 0px 50px;

}
.container .top-banner{
    background-image: url("image/product-text.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 600px;
}
.container li{
    padding: 0px 20px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1550px;
}
.container nav{
    padding:50px 0px 0px 0px ;
}
.buy-now-button{
    background-image: linear-gradient( to bottom, #141414 0%, #1b0e13);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-indicators li{
    background-image: linear-gradient( to bottom, #facf8e 0%, #eeb345);
    height: 12px;
    width: 2px;
    border-radius: 13px;
}
.card img{
    padding: 60px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
img .grid{
    image-resolution: center;
    padding: 100px 100px 40px 100px;
}
#categories h4{
    text-align: center;
}